<footer id="footer" class="pt-5 bg-warning" style="margin-top: 140px;">
    <div class="container">
        <div class="row pb-3">
            <div class="col-md mb-3">
                <h6 class="mb-2 fw-bold">Made with</h6>
                <a class="d-block text-decoration-none text-dark" href="https://nodejs.org/en/">Node.js</a>
                <a class="d-block text-decoration-none text-dark" href="https://expressjs.com/">Express.js</a>
                <a class="d-block text-decoration-none text-dark" href="https://getbootstrap.com/">Bootstrap 5</a>
            </div>
        </div>
        <div class="row pt-3 border-top border-dark">
            <div class="col-md text-center pb-3">
                <small class="mr-2">&#169; <%= currentDate %>. Made with &#10084; By Adhy Wiranto %></small>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
-->

<!-- JQuery -->
<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/jquery/jquery.easing.1.3.js"></script>

<!-- My Script -->
<script src="/js/script.js"></script>
</body>
</html>