<%- include("backend-templates/backend-header") %>

<div class="row">
    <div class="col-md-3 text-center">
        <div class="card mb-3 shadow-sm border-0">
            <div class="card-body">
                <h6 class="font-weight-bold">Jumlah Hobi</h6>
                <a href="/admin/tampil-semua-hobi"><h3><%= hobbies_length %></h3></a>
            </div>
          </div>
    </div>
    <div class="col-md-3 text-center">
        <div class="card mb-3 shadow-sm border-0">
            <div class="card-body">
                <h6 class="font-weight-bold">Saran Hobi</h6>
                <a href="/admin/tampil-saran-hobi"><h3><%= suggestions_length %></h3></a>
            </div>
          </div>
    </div>
</div>

<%- include("backend-templates/backend-footer") %>