<%- include("backend-templates/backend-header") %>

<div class="row">
    <div class="col-md-3 text-center">
        <div class="card mb-3 shadow-sm border-0">
            <div class="card-body">
                <h2>Selamat datang di halaman dashboard :)</h2>
            </div>
          </div>
    </div>
</div>

<%- include("backend-templates/backend-footer") %>