<%- include("partials/header") %>

<div id="welcome" class="bg-warning" style="padding-bottom: 0px">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 offset-md-1">
                <h1 class="fw-bold text-light">Menulis</h1>
                <p class="text-light">Kategori: Sastra</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-3">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 offset-md-1">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="/">Home</a></li>
                    <li class="breadcrumb-item active fw-bold" aria-current="page">Menulis</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean pharetra magna ac placerat. At imperdiet dui accumsan sit amet nulla. Egestas dui id ornare arcu odio ut sem nulla. Scelerisque in dictum non consectetur. Sem fringilla ut morbi tincidunt augue interdum velit euismod. Cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo. Odio euismod lacinia at quis risus. Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Ante in nibh mauris cursus mattis molestie a iaculis at. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Nunc lobortis mattis aliquam faucibus. Nunc congue nisi vitae suscipit tellus mauris.

            Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Volutpat blandit aliquam etiam erat velit scelerisque. Lacus viverra vitae congue eu consequat ac. Urna duis convallis convallis tellus id interdum velit. Ac auctor augue mauris augue neque gravida. Gravida rutrum quisque non tellus orci ac. Diam quis enim lobortis scelerisque fermentum dui faucibus in ornare. Sit amet nisl suscipit adipiscing bibendum est ultricies. Sem et tortor consequat id porta nibh venenatis cras. Imperdiet sed euismod nisi porta lorem mollis aliquam. Facilisis volutpat est velit egestas dui id ornare arcu. Quam elementum pulvinar etiam non. Id velit ut tortor pretium viverra suspendisse potenti nullam ac. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Suspendisse in est ante in. Volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris. Habitasse platea dictumst quisque sagittis purus sit.

            Eget mauris pharetra et ultrices neque ornare. Felis eget nunc lobortis mattis aliquam faucibus purus in. Pharetra sit amet aliquam id diam. Leo vel fringilla est ullamcorper eget. Integer feugiat scelerisque varius morbi enim. Quis enim lobortis scelerisque fermentum dui faucibus in. Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus. Iaculis at erat pellentesque adipiscing commodo elit at imperdiet. In aliquam sem fringilla ut morbi tincidunt. Natoque penatibus et magnis dis. Massa massa ultricies mi quis hendrerit. Neque viverra justo nec ultrices dui sapien. Risus quis varius quam quisque id diam vel. Nulla facilisi cras fermentum odio. In cursus turpis massa tincidunt dui ut ornare. Condimentum id venenatis a condimentum vitae sapien pellentesque. Cursus euismod quis viverra nibh cras pulvinar mattis nunc. Nibh ipsum consequat nisl vel pretium lectus quam id. Dolor magna eget est lorem ipsum.

            Sem viverra aliquet eget sit amet tellus. Diam phasellus vestibulum lorem sed risus. Blandit cursus risus at ultrices. Turpis massa sed elementum tempus egestas sed. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Id consectetur purus ut faucibus pulvinar. Amet commodo nulla facilisi nullam vehicula ipsum a arcu. Convallis aenean et tortor at. Auctor neque vitae tempus quam pellentesque nec nam. Sit amet luctus venenatis lectus magna. Pharetra pharetra massa massa ultricies mi quis hendrerit. Neque gravida in fermentum et sollicitudin ac orci phasellus. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. In hendrerit gravida rutrum quisque non tellus orci. Nunc mattis enim ut tellus elementum.

            Ornare aenean euismod elementum nisi quis eleifend. Habitasse platea dictumst vestibulum rhoncus. Nisi porta lorem mollis aliquam ut porttitor. Dui ut ornare lectus sit amet est placerat. Et netus et malesuada fames ac turpis egestas. Ut porttitor leo a diam. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Cursus euismod quis viverra nibh cras pulvinar mattis nunc sed. Pharetra diam sit amet nisl. Scelerisque varius morbi enim nunc. Facilisis sed odio morbi quis commodo odio aenean. Pulvinar etiam non quam lacus suspendisse. Mauris a diam maecenas sed. Velit euismod in pellentesque massa placerat duis ultricies lacus. Scelerisque fermentum dui faucibus in ornare quam viverra orci. Lectus urna duis convallis convallis tellus id interdum velit. Sagittis orci a scelerisque purus semper eget. Pharetra pharetra massa massa ultricies.
        </div>
    </div>
</div>

<%- include("partials/footer") %>