<%- include("partials/header") %>

<div class="container">
    <div class="row" style="margin-top: 100px;">
        <div class="col-lg-4 mx-auto">
            <h3 class="text-center fw-bold mt-5 mb-3">Login</h3>
            <form action="/auth/login" method="POST">
                <div class="form-group mb-3 bg-white p-3 shadow-sm" style="border-radius: 15px;">
                    <label class="text-muted" for="judul"><small>Username</small></label>
                    <input type="text" class="form-control p-2 border-0 border-bottom border-3 border-secondary rounded-0" id="username" name="username" required autofocus autocomplete="off">
                </div>
                <div class="form-group mb-3 bg-white p-3 shadow-sm" style="border-radius: 15px;">
                    <label class="text-muted" for="judul"><small>Password</small></label>
                    <input type="password" class="form-control p-2 border-0 border-bottom border-3 border-secondary rounded-0" id="password" name="password" required autocomplete="off">
                </div>
                <button type="submit" class="btn btn-danger px-3 py-2 fw-bold border-0 w-100" style="border-radius: 10px;">Login</button>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer") %>